.root {
    -fx-background-color: #271a32;
}

.hboxtop {
    -fx-background-color: #422c54;
    -fx-border-style: dashed;
    -fx-border-color: #352343;
    -fx-border-width: 0 0 8 0;
}

.hboxbot {
    -fx-background-color: #352343;
    -fx-border-style: solid;
    -fx-border-color: #8457a8;
    -fx-border-width: 0 0 1 0;
}

.label {
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: hsb(0, 0%, 100%);

}

.button-label:hover {
    -fx-text-fill: hsb(0, 0%, 90%);
    -fx-cursor: hand;
}

.button-label:pressed {
    -fx-text-fill: hsb(0, 0%, 80%);
}

.sub-button {
    -fx-font-size: 16px;
    -fx-text-fill: hsb(295, 10%, 80%);
}

.sub-button:hover {
    -fx-text-fill: hsb(295, 10%, 70%);
}

.sub-button:pressed {
    -fx-text-fill: hsb(295, 10%, 60%);
}
.sub-buttons-bar {
    -fx-border-style: solid;
    -fx-border-color: #8457a8;
    -fx-border-width: 0 0 1 0;
}

.text-field {
    -fx-font: 20 "Segoe UI";
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

/* -----Overview----- */
.upper-stats-bar {
    -fx-background-color: #422c54;
    -fx-background-radius: 0 10 0 0;
}
.stats-bar {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: rgba(255, 255, 255, 0.10);
}
.lower-stats-bar {
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 1;
    -fx-border-radius: 0 0 10 10;
    -fx-border-color: rgba(255, 255, 255, 0.10);
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.overview-label {
    -fx-alignment: center;
    -fx-font-size: 16;
}
.kill-label {
    -fx-text-fill: #A0FF9C;
}
.death-label {
    -fx-text-fill: #FF7878;
}
.assist-label {
    -fx-text-fill: #BABABA;
}
.networth-label {
    -fx-text-fill: #FFFF9C;
}
.radiant-score-label {
    -fx-text-fill: #A0FF9C;
    -fx-font-size: 30;
}
.dire-score-label {
    -fx-text-fill: #ff3d3d;
    -fx-font-size: 30;
}
.time-label {
    -fx-font-size: 24;
}

.radiant-overview-label {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, #A0FF9C, transparent);
    -fx-border-width: 0 0 3 0;
}
.dire-overview-label {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, #ff3d3d, transparent);
    -fx-border-width: 0 0 3 0;
}
.match-id-label-note {
    -fx-font-size: 16;
    -fx-text-fill: #BABABA;
}
.match-id-label {
    -fx-font-size: 16;
}

.victory-label-background {
    -fx-background-color: rgba(37, 150, 190, 0.1);
    -fx-background-radius: 6;
    -fx-background-insets: 10 6 10 6;
}
.victory-label {
    -fx-font-size: 24;
    -fx-text-fill: #A0FF9C;
}
/* ----- */


/* -----Chart----- */
.chart {
    /* This is the entire region of the chart */

}
.chart-content {
    /* Entire region of the chart excluding the title header */

}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: rgba(184, 164, 184, 0.47);
}

.chart-horizontal-grid-lines {
    -fx-stroke: rgba(188, 146, 182, 0.68);
}

.chart-series-line {
    -fx-stroke-width: 2;
}

.chart-legend {
    -fx-background-color: transparent;
}


.axis {
    -fx-tick-label-font: 12 "Segoe UI";
    -fx-tick-label-fill: #d1d1d1;
}

.x-axis {
    -fx-minor-tick-visible: false;
    -fx-tick-unit: 2;
}


.radiant-adv-label {
    -fx-text-fill: rgba(161, 255, 158, 1);
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, transparent, #A0FF9C, transparent);
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 2;
    -fx-font-weight: bold;
    -fx-background-color: rgba(161, 255, 158, 0.1);
    -fx-background-radius: 6;
}

.dire-adv-label {
    -fx-text-fill: rgba(255, 61, 61, 1);
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, transparent, #ff3d3d, transparent);
    -fx-border-width: 1 0 0 0;
    -fx-border-radius: 2;
    -fx-font-weight: bold;
    -fx-background-color: rgba(255, 61, 61, 0.1);
    -fx-background-radius: 6;


}
/* ----- */


