@import url('main.css');

.text-field {
    -fx-font: 20 "Segoe UI";
    -fx-text-fill: white;
    -fx-background-color: transparent;
}


/* -----Chart----- */
.chart {
    /* This is the entire region of the chart */

}
.chart-content {
    /* Entire region of the chart excluding the title header */

}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: rgba(184, 164, 184, 0.47);
}

.chart-horizontal-grid-lines {
    -fx-stroke: rgba(188, 146, 182, 0.68);
}

.axis {
    -fx-tick-label-font: 12 "Segoe UI";
    -fx-tick-label-fill: #d1d1d1;
}

.x-axis {
    -fx-minor-tick-visible: false;
    -fx-tick-unit: 5;
}
/* --------------- */


